.errorTittle {
	text-align: center;
	font-size: 5rem;
	margin-top: 2rem;
	font-weight: 500;
	color: rgb(215, 40, 80);
}

.errorCode {
	text-align: center;
	font-size: 5rem;
	margin-top: 5rem;
	letter-spacing: 0.5rem;
	color: rgb(242, 221, 249);
	font-weight: bold;
	text-shadow: 0.2em 0.5em 0.1em #600, -0.3em 0.1em 0.1em rgb(215, 75, 4),
		0.4em -0.3em 0.1em rgb(211, 0, 32);
}

.errorSubtittle {
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
	color: rgb(136, 25, 78);
}

.bot {
	margin-bottom: 5rem;
}
